html { background: #222; }

html, body { margin: 0; padding: 0; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; height: 100vh; }

a { color: #FFA715; text-decoration: none; }

a:hover { text-decoration: underline; }

img { max-width: 100%; height: auto; }

h1 { font-weight: 300; font-size: 2.3rem; margin: 0; }

h2 { font-weight: 300; font-size: 2.2rem; margin: 0 0 30px 0; }

h3 { font-size: 1.8rem; margin: 0 0 20px 0; }

h4 { font-size: 1.5rem; margin: 0 0 10px 0; }

p, ul { margin: 0 0 20px 0; font-size: 1.38rem; color: #AAA; font-weight: 300; line-height: 1.6; }

input[type=submit] { color: #fff; text-decoration: none; padding: 20px 30px; border-radius: 3px; transition: 0.2s ease-in-out; border: 1px solid #FFA715; background: #FFA715; cursor: pointer; margin: 20px 0 0 0; }

input[type=submit]:hover { border: 1px solid #FFA715; background: #FFC461; }

input[type=submit]:active { transform: translateY(1px); }

input, button { font-family: inherit; font-size: inherit; }

input { display: block; width: 100%; box-sizing: border-box; padding: 20px; font-size: 1.2em; border-radius: 3px; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; outline: none; border: 1px solid #DDDDDD; }

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus { box-shadow: 0 0 5px #51cbee; border: 1px solid #51cbee; }

.container, .text-container { margin: 0 auto; position: relative; padding: 0 20px; max-width: 1000px; }

header { color: #fff; padding: 20px 0; position: absolute; top: 0; left: 0; width: 100%; }
header a { color: #fff; text-decoration: none; z-index: 1; position: relative; }
header a:hover { text-decoration: none; }
header .company-name { font-size: 1.7em; }

.content { background: #fff; padding: 1px 0 0 0; position: relative; }

.subtext { text-align: justify; }

section, footer { padding: 150px 0; background: #fff; margin-top: -2px; }
section.hero, footer.hero { color: #ffffff; background: #FFA715; text-align: left; padding-top: 100px !important; padding-bottom: 40px !important; }
section.hero h2, footer.hero h2, section.hero p, footer.hero p { max-width: 90%; }
section.hero h2, footer.hero h2 { margin-left: auto; margin-right: auto; font-size: 3.5rem; }
section.hero p, footer.hero p { font-size: 1.38rem; color: #fff; }
section.hero a:not(.button), footer.hero a:not(.button) { color: #ffffff; font-style: italic; }
section.alternate, footer.alternate { background: #eee; }
section.fixed, footer.fixed { padding: 40px 0; padding-bottom: 100px; }
section.fixed p, footer.fixed p { font-size: 1.1rem !important; text-align: justify; }
section.fixed ul, footer.fixed ul { color: #fefefe; font-size: 1.1rem !important; margin-bottom: 35px; }
section.fixed a, footer.fixed a { font-style: normal !important; text-decoration: underline !important; }
section.fixed p.title, footer.fixed p.title { font-size: 1.3rem !important; }

.halves { display: flex; flex-flow: wrap; align-items: center; }
.halves > div { flex: 1 0 100%; }
@media (min-width: 620px) { .halves > div { flex: 1; }
  .halves > div + div { padding-left: 20px; margin: 0; } }

.image-grid { padding: 0; list-style: none; display: flex; flex-flow: wrap; text-align: center; margin: 0 -20px; }
.image-grid li { padding: 0; box-sizing: border-box; width: 100%; position: relative; overflow: hidden; margin: 20px; border-radius: 5px; text-align: center; border: 1px solid #FFA715; line-height: 0; }
@media (min-width: 450px) { .image-grid li { flex: 1 1 50%; } }
@media (min-width: 768px) { .image-grid li { flex: 0 0 25%; } }
.image-grid li img { max-width: 50%; }
.image-grid li p { font-size: 1.5rem; margin-left: auto; margin-right: auto; }
.image-grid li > a:hover { opacity: 0.9; }
.image-grid .square-image { height: 320px; }
.image-grid .square-image img { min-height: 100%; width: 100%; position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); }
.image-grid .details { line-height: 1.2; position: absolute; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5); padding: 20px; }
.image-grid .name { font-size: 1.3rem; color: #FFA715; }
.image-grid .position { margin-top: 5px; color: #fff; }
.image-grid .filler { border: 0; }

.patterned { background: #222 url("/images/pattern.png"); }
.patterned, .patterned p { color: #fefefe; }

div.code-title { display: flex; flex-direction: row; position: absolute; left: 50%; transform: translateX(-50%); top: 20px; z-index: 100; width: 330px; color: #000; font-size: 50px; line-height: 42px; font-weight: bold; }
div.code-title.code-title-left { left: 20px; transform: unset; width: auto; }
div.code-title .title-letter { width: 40px; height: 40px; }

.bullet-point { width: 1rem; height: 1rem; margin-right: 5px; }

.who-for-container { text-align: justify; }

.coming-soon-container { height: 100%; display: flex; flex-direction: column; }
.coming-soon-container .code-title-left { flex-grow: 0; }
.coming-soon-container .diagonal.hero.fixed { padding-top: 50px !important; flex-grow: 0; }
.coming-soon-container .diagonal.patterned.fixed { flex-grow: 1; }
.coming-soon-container .diagonal.patterned.fixed p.coming-soon-motto { color: #FFA715; font-size: 2rem !important; text-align: center; }
.coming-soon-container .diagonal.patterned.fixed p.coming-soon-title { text-align: center; }
.coming-soon-container .diagonal.patterned.fixed p.coming-soon-message { padding-left: 50px; padding-right: 50px; padding-top: 3rem; text-align: center; }
.coming-soon-container .coming-soon-hr { width: 200px; border-color: #FFA715; }
.coming-soon-container .email-input-container { align-items: center; margin-left: auto; margin-right: auto; }
.coming-soon-container .email-input-container .email-input-message { text-align: center; }
.coming-soon-container .email-input-container .inputs { display: flex; flex-direction: row; }
.coming-soon-container .email-input-container .inputs #email-input { width: 40%; margin-right: 0; padding: 10px; border-radius: 0; margin-left: auto; }
.coming-soon-container .email-input-container .inputs #submit-email { background: #FFA715; border: 0; margin-right: auto; }
@media screen and (min-width: 601px) { .coming-soon-container .diagonal.patterned.fixed p.coming-soon-title { font-size: 7rem !important; } }
@media screen and (max-width: 600px) { .coming-soon-container .diagonal.patterned.fixed p.coming-soon-title { font-size: 4rem !important; } }

footer { padding: 100px 0 50px 0; position: relative; background: #222; color: #fff; }
footer, footer a { color: #999; }
footer h2 { font-size: 1.4em; margin: 30px 0; color: #ccc; }
footer .footer-columns { display: flex; flex-flow: wrap; margin: -10px -10px 10px -10px; }
footer a { text-decoration: none; }
footer a:hover { color: #fff; }
footer .legal-line { width: 100%; padding: 30px 0 0 0; margin: 0; }
footer .legal-line a { font-style: italic; }

.footer-links { width: 100%; margin: 10px; padding: 0; flex: 1 0 180px; }
.footer-links li { list-style: none; margin: 15px 0; }
.footer-links li a svg { fill: #999; margin-right: 10px; transition: fill 0.2s ease; vertical-align: middle; position: relative; top: -2px; width: 22px; height: 22px; }
.footer-links li a:hover { text-decoration: none; }
.footer-links li a:hover svg { fill: #fff; }
