body {
	height: 100vh;
}

.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero {
		color: #ffffff;
		background: $brand-color;
		text-align: left;
		padding-top: 100px !important;
		padding-bottom: 40px !important;

		h2, p {
			max-width: 90%;
		}

		h2 {
			margin-left: auto;
			margin-right: auto;
			font-size: 3.5rem;
		}

		p {
			font-size: 1.8rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}

	&.alternate {
		background: #eee;
	}

	&.fixed {
		padding: 40px 0;
		padding-bottom: 100px;

		p {
			font-size: 1.1rem !important;
			text-align: justify;
		}

		ul {
			color: #fefefe;
			font-size: 1.1rem !important;
			margin-bottom: 35px;
		}

		a {
			font-style: normal !important;
			text-decoration: underline !important;
		}

		p.title {
			font-size: 1.3rem !important;
		}
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none !important;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: center;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 0 0 25%;
		}

		img {
			max-width: 50%;
		}

		p {
			font-size: 1.5rem;
			margin-left: auto;
			margin-right: auto;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}

.primary-color {
	color: #666 !important;
}

div.code-title {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 20px;
	z-index: 100;
	width: 330px;

	color: #000;
	font-size: 50px;
	line-height: 42px;
	font-weight: bold;

	.title-letter {
		width: 40px;
		height: 40px;
	}
}

div.code-title.code-title-left {
	left: 20px;
	transform: unset;
	width: auto;
}

.coming-soon-container {
	height: 100%;
	display: flex;
	flex-direction: column;

	.code-title-left {
		flex-grow: 0;
	}

	.diagonal.hero.fixed {
		padding-top: 50px !important;
		flex-grow: 0;
	}
	.diagonal.patterned.fixed {
		flex-grow: 1;

		p.coming-soon-motto {
			color: $brand-color;
			font-size: 2rem !important;
			text-align: center;
		}

		p.coming-soon-title {
			text-align: center;
		}

		p.coming-soon-message {
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 3rem;
			text-align: center;
		}
	}

	.coming-soon-hr {
		width: 200px;
		border-color: $brand-color;
	}

	.email-input-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 50px;

		#email-input {
			width: 20%;
			margin-left: 2rem;
			margin-right: 1rem;
			padding: 1px;
		}
	}
}

@media screen and (min-width: 601px) {
	.coming-soon-container .diagonal.patterned.fixed p.coming-soon-title {
		font-size: 7rem !important;
	}
}

@media screen and (max-width: 600px) {
	.coming-soon-container .diagonal.patterned.fixed p.coming-soon-title {
		font-size: 4rem !important;
	}
}
